
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Ledéveloppeurcréatif</h1>
						<h3>Emmanuel Koffi AHIABOR</h3>
						<p>Web Developer&nbsp;&bull;&nbsp; Digital Strategist </p>
						<nav>
							<ul>
                <li><a href=""  class="fa-solid fa-user"><span class="label">Portfolio</span></a></li>
                <!-- <li><a href="https://vercel.com/emmanuel-ahiabors-projects"  class="fa-solid fa-house"><span class="label">Portfolio</span></a></li> -->
                <li><a href="https://github.com/AHIABOREmmanuel" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="https://www.linkedin.com/in/koffi-emmanuel-ahiabor-4b2a1a253?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="icon brands fa-linkedin">
                  <span class="label">LinkedIn</span></a></li>
                <li><a href="https://www.tiktok.com/@lenuel4?_t=ZM-8tm0aT0fkYh&_r=1" class="icon brands fa-tiktok"><span class="label">TikTok</span></a></li>
								<li><a href="https://wa.me/22892596583" class="icon brands fa-whatsapp"><span class="label">WatsApp</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer
					<footer id="footer">
						<span class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>
					</footer>-->

			</div>
		</div>

